<component name="libraryTable">
  <library name="springframework.spring.core" type="repository">
    <properties maven-id="org.springframework:spring-core:6.1.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.1.2/spring-core-6.1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.1.2/spring-jcl-6.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>